.header {
    overflow: hidden;
    background-color: #1d2124;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}
  
.first-title {
    color: #36aadd;
    text-align: center;
    font-family: Arial, sans-serif;
}

.second-title {
    color: #838f92;
    text-align: center;
    font-family: Arial, sans-serif;
}

.align-button {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.align-logo {
    margin-left: 9%;
}

.align-card {
   width: 70%;
}
  
@media screen and (max-width: 768px) {
    .align-logo {
        margin-left: 0%;
        text-align: center;
    }
    
    .align-card {
       width: 100%;
    }
}

@media screen and (max-width: 425px) {

    .align-button {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .second-title-size {
        font-size: 20px;
    }


}