<div class="bc-color-container">
    <div class="header">
        <a href="#default" class="logo">Logo</a>
        <div class="header-right">
        </div>
    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header mt-5">
                <div class="first-title">
                <h2>Faça a cotação do seguro do seu veículo</h2>
                </div>
                <div class="second-title">
                <h2>Entratemos em contato com você</h2>
                </div>
            </div>
        
            <div class="card-body">
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="name">Nome</label>
                        <input type="text" id="name" class="form-control" placeholder="Digite o nome.">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" class="form-control" placeholder="Digite o e-mail.">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="document-type">Tipo de documento</label>
                        <input type="text" id="document-type" class="form-control" placeholder="First name">
                      </div>
                      <div class="form-group col-md-9">
                        <label for="document-number">Número do documento</label>
                        <input type="text" id="document-number" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    
                    <div class="mt-5">
                        <button type="button" class="btn btn-success btn-lg btn-block">Cotar</button>
                        <button type="button" class="btn btn-link btn-lg btn-block">Recuperar cotação</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>