<div class="bc-color-container">
    <div class="header">
        <div  class="align-logo">
            <img [src]="imagePath">
        </div>
    </div>
    <div class="container mt-5 align-card-body">
        <div class="card align-card">
            <div class="mt-5">
                <div class="first-title">
                    <h2>Faça a cotação do seguro do seu veículo</h2>
                </div>
                <div class="second-title">
                    <h2 class="second-title-size">Entratemos em contato com você</h2>
                </div>
            </div>
        
            <div class="card-body mt-3">
                <form [formGroup]="formGroup" (submit)="submitForm()">
                    <div class="form-row">
                      <div class="col-xs-12 col-lg-6">
                        <label for="nombre">Nome</label>
                        <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Digite o nome."
                            [ngClass]="{'is-invalid': formGroup.get('nombre').touched === true && formGroup.get('nombre').invalid === true}">
                        <div class="text-danger mr-3" *ngIf="formGroup.get('nombre').invalid && formGroup.get('nombre').touched" >
                            <div *ngIf="formGroup.get('nombre').errors.required">Dado obrigatório</div>
                            <div *ngIf="formGroup.get('nombre').errors.minlength">Deve ter no minimo 2 caracteres</div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-lg-6">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Digite o e-mail."
                        [ngClass]="{'is-invalid': formGroup.get('email').touched === true && formGroup.get('email').invalid === true}">
                        <div class="text-danger mr-3" *ngIf="formGroup.get('email').invalid && formGroup.get('email').touched" >
                            <div *ngIf="formGroup.get('email').errors.required">Dado obrigatório</div>
                            <div *ngIf="formGroup.get('email').errors.email">E-mail inválido</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xs-3 col-sm-3 col-lg-3">
                        <label for="tipodoc">Tipo de documento</label>
                        <select class="form-control" id="tipodoc" formControlName="tipodoc">
                            <option *ngFor="let item of documentTypes" [value]="item.key">{{item.value}}</option>
                        </select>
                      </div>
                      <div class="col-xs-9 col-sm-9 col-lg-9">
                        <label for="numdoc">Número do documento</label>
                        <input type="text" id="numdoc" formControlName="numdoc" class="form-control" placeholder="Digite o número do documento."
                        [ngClass]="{'is-invalid': formGroup.get('numdoc').touched === true && formGroup.get('numdoc').invalid === true}">
                        <div class="text-danger mr-3" *ngIf="formGroup.get('numdoc').invalid && formGroup.get('numdoc').touched" >
                            <div *ngIf="formGroup.get('numdoc').errors.required">Dado obrigatório</div>
                            <div *ngIf="formGroup.get('numdoc').errors.maxlength">O tamanho máximo desse campo deve ser {{maxLength}} caracteres</div>
                            <div *ngIf="formGroup.get('numdoc').errors.pattern">Digite apenas números</div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="align-button mt-5">
                        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success btn-lg btn-block">Cotar</button>
                        <button type="button" (click)="retrieveQuote()" class="btn btn-link btn-lg btn-block">Recuperar cotação</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>