<div class="bc-color-container">
    <div class="header">
        <a href="#default" class="logo">Logo</a>
        <div class="header-right">
        </div>
    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="mt-5">
                <div class="first-title">
                    <h2>Faça a cotação do seguro do seu veículo</h2>
                </div>
                <div class="second-title">
                    <h2 class="second-title-size">Entratemos em contato com você</h2>
                </div>
            </div>
        
            <div class="card-body mt-3">
                <form [formGroup]="formGroup" (submit)="submitForm()">
                    <div class="form-row">
                      <div class="col-xs-12 col-lg-6">
                        <label for="name">Nome</label>
                        <input type="text" id="name" formControlName="name" class="form-control" placeholder="Digite o nome.">
                      </div>
                      <div class="col-xs-12 col-lg-6">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Digite o e-mail.">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-xs-3 col-sm-3 col-lg-3">
                        <label for="document-type">Tipo de documento</label>
                        <select class="form-control" id="document-type" formControlName="documentType">
                            <option *ngFor="let item of documentTypes" [value]="item.key">{{item.value}}</option>
                        </select>
                      </div>
                      <div class="col-xs-9 col-sm-9 col-lg-9">
                        <label for="document-number">Número do documento</label>
                        <input type="text" id="document-number" formControlName="documentNumber" class="form-control" placeholder="Digite o número do documento.">
                      </div>
                    </div>
                    
                    <div class="align-button mt-5">
                        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success btn-lg btn-block">Cotar</button>
                        <button type="button" class="btn btn-link btn-lg btn-block">Recuperar cotação</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>